 /* label color */
   .input-field label {
     color: #ff9800;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ff9800;
   }