<template name="footer">
	<div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                {{ > whatIsBalmer }}
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4">
            <div class="container">
            <h6><a href="http://www.mehdisolati.com/" class="left" id="copyright">© 2015 Mehdi Solati</a>
              <a id="bug" class="right" href="#!">Report A Bug</a></h6>
            </div>
          </div>

          {{> bugtrackerForm framework="materialize"}}
</template>