body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #copyright {
  	color: #ffc107;
  }

  #bug {
    color: #ffc107;
  }

  .darkLink {
  color: #212121;
}