<template name="Navbar">
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo signature">Super Secret Test App</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Test</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Test</a></li>
        </ul> <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> </div>
    </nav>
  </div>
</template>